#onboarding_messages.alert.alert-warning.alert-dismissible{role:'alert'}
  %button.close.fade.in{data:{dismiss:'alert'}}
    %span{'aria-hidden'=>true} &times;
    %span.sr-only Close

  - if @current_users_post_count == 0
    %h3 Ready to Create Your First Post?
    %p
      Follow the instructions below, and "SUBMIT FOR APPROVAL" when you're done! 
      %br 
      When when you first create the post, it can only be seen by the site's editors and ministry's leaders. So even if the post is a "Work in Progress", you can still make all the changes you need before the Post is published to Cornerstone's homepage.
  
  - if @current_users_post_count == 1
    %h3 
      Why Does Communication Matter?
    %p If you use words, you communicate for Cornerstone. Any time we send an email, post on Twitter and Facebook, put together a flyer, interact with a volunteer, etc. - we represent! And we’re not just representing our church—many people are making judgments about Christianity based on our actions. It’s worth our time and effort to communicate with excellence.
  
  -if @current_users_post_count == 2
    %h3 Good Communication Removes Roadblocks
    %p Whether it’s getting people to take part in an event or just try out Cornerstone for the very first time, communication can help you reach your goals. These values, best practices, and guidelines are here to help you remove as many obstacles as possible that might get in the way of people taking their next steps with Christ.

  -if @current_users_post_count == 3
    %h3 Avoid Insider Lingo
    %p We won’t use words that are hard for outsiders to understand. When necessary, we explain any 'churchy' terms and phrases that may be confusing to someone who has never stepped inside a church.

  -if @current_users_post_count == 4
    %h3 Say Less to Communicate More
    %p We keep it brief, knowing people are much more likely to engage with concise content.

  -if @current_users_post_count == 5
    %h3 Say Less to Communicate More
    %p We keep it brief, knowing people are much more likely to engage with concise content.

  -if @current_users_post_count == 6
    %h3 Don't Sell
    %p We’ll communicate what we want FOR people, not what we want FROM them. We understand people tune out advertising and manipulation. We’re not giving people to-dos. We’re presenting them with opportunities.  

  -if @current_users_post_count == 7
    %h3 Get a Second Set of Eyes on It
    %p Have a (qualified) proofreader look over your piece. If there are typos and misspelled words, you can undermine a beautifully crafted piece. Not only is this a best practice, it’s a MUST practice.

  -if @current_users_post_count == 8
    %h3 Have a Goal
    %p For every piece of communication, before you do anything else, determine the goal. Do whatever you need to do to gain clarity about the desired outcome and keep it in front of you during the entire creation process.  

  -if @current_users_post_count == 9
    %h3 Add an Evaluation Step
    %p Once the piece goes out, it’s important to look back and ask whether it met its intended goal. What can we learn for future pieces?  

  -if @current_users_post_count == 10
    %h3 Know Your Audience
    %p The group we’re talking to determines how we approach our communication. What is their experience with us? Put yourself into their shoes and communicate based on their perspective.
  
  -if @current_users_post_count == 11
    %h3 Don’t Load People Down With Too Much at Once
    %p Maybe you need to delay communicating one message so another has a better chance of getting through. Or it might mean you only present the first step in a process instead of five action items.  
  
  -if @current_users_post_count == 12
    %h3 Lead With the Most Important Thing
    %p Don’t bury key information under several sentences or paragraphs. Use an inverted pyramid style, keeping the most important, foundational information at the top.
  
  -if @current_users_post_count == 13
    %h3 Use an Active Voice When Possible
    %p It is more direct and stronger than the passive. In active voice, the subject takes the action. Example: “Thousands attended the event,” rather than “The event was attended by thousands.” Or: “Cornerstone partners with community organizations,” instead of, “Community organizations are being partnered with by Cornerstone.”
  
  -if @current_users_post_count == 14
    %h3 Cut, cut, cut!
    %p Avoid redundancy and wordiness. Once you write a piece, see how much you can eliminate without losing meaning.
  
  -if @current_users_post_count == 15
    %h3 Avoid Overused Words
    %p Tired phrases and words that are used too often fail to communicate anything at all since we start tuning them out.
  

