= (render partial: 'sidebar')

%h3 Study groups

#member-groups
  - @groups.each do |group|
    .row
      = link_to(image_tag(group.poster_img.url), group_path(group))
    .row.step-progress
      - lessons = group.study.lessons
      - lessons.each do |lesson|
        .step-progress-step{class:["accepted", "col-xs-#{12/lessons.length}"].join(' ')}
          .progress
            .progress-bar
          .step-progress-dot
            %i.glyphicon
