- content_for :page_specific_js_initializers do
  = javascript_include_tag "groups/"

= (render partial: 'sidebar')

.container
  .col-md-7.display
    %h3.group-title My Groups

    .member-groups
      =render partial: "group_row", locals: { groups: @open_groups }
  .col-md-5
    %h3.group-title Active Questions

.container
  .col-md-7.display
    %h3.group-title Archived Groups

    .member-groups
      =render partial: "group_row", locals: { groups: @finished_groups }

