- content_for :page_specific_js_initializers do
  = javascript_include_tag "groups/"

= (render partial: 'sidebar')

%h3 Study groups

.member-groups
  =render partial: "group_row", locals: { groups: @open_groups }

%h3 Archived groups

.member-groups
  =render partial: "group_row", locals: { groups: @finished_groups }
