#comm-arts-requests-index
  .row
    .col-xs-1
    %h4.col-xs-2
      Title
    %h4.col-xs-1
      Name
    %h4.col-xs-1
      Ministry
    %h4.col-xs-1
      Design
    %h4.col-xs-1
      Postcard
    %h4.col-xs-1
      Poster
    %h4.col-xs-1
      Flier
    %h4.col-xs-1
      Badges
    %h4.col-xs-2
      Due
- @unarchived_requests.each do |request|
  =render partial: "request_row", locals: { request: request }

%h2 Archived

- @archived_requests.each do |request|
  =render partial: "request_row", locals: { request: request }
