!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Go here young man:
      = Rails.application.routes.url_helpers.post_url(@approval_request.post)