!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Go here young man:
      = Rails.application.routes.url_helpers.post_url(@approval_request.post)

    =link_to("Approve", update_status_from_link_admin_approval_request_url(@approval_request, { commit: 'Approve' }))
    =link_to("Reject", update_status_from_link_admin_approval_request_url(@approval_request, { commit: 'Reject' }))
