#main-header-wrapper{ display:initial; }
#main-header{
  background: url( "http://assets.cornerstonesf.org/Blue-Bottle/Snapshots/Blue-Bottle.jpg" ) no-repeat center center; //video background
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top:0%;
  @extend %transitionAll;

  height:400px;
  @media (max-width: $screen-sm-min) {
    height:300px;
  }

  .container{
    height:inherit;
    margin-top:0;
    @extend %transitionMargin;
  }

  .submit > .glyphicon{
    top:3px;
  }

  &.search-focused{
    height:100%;

    .container > #main-header-content{
       top:10%;
    }

    .suggestions{
      height:500px;
    }

    .submit > .glyphicon {
      @extend .glyphicon-remove;
    }
  }

  #main-header-content{
    @extend %transitionOpacity;
    opacity:1;
  }

  .music-title{
    margin:10px;
    overflow:hidden;
    width:135px;
    white-space:nowrap;
    @extend %transitionAll;
  }

  .theater-icon{
    @extend .glyphicon-play;
  }

  .glyphicon-repeat{
    width:0px;
    margin:0px;
    overflow:hidden;
    @extend %transitionAll;
  }

  &.theater-mode{
    padding-top:56.2%; //based on 16:9 aspect ratio;

    .container{
      margin-top:-56.2%; //based on 16:9 aspect ratio;
    }

    #main-header-content{
      opacity:0;
    }

    .music-title{
      margin:0px;
      width:0px;
    }

    .theater-icon{
      @extend .glyphicon-search;
    }

    .glyphicon-repeat{
      width:14px;
      margin:10px;
      overflow:hidden ;
    }

    i{
      margin-left:10px;
      margin-right:10px;
    }
  }
}


#main-header-content{
  @extend .row;
  @include verticalAlign(30%);
  @extend %transitionTop;
  z-index:9999;
  text-align:center;
}

    #logo{
      @extend .col-md-4;
      display:inline-block;

      margin-top:20px;
      border-right:white solid 1px;
      text-align:right;


      @media (max-width: $screen-md-min) {
        border-right:none;
      }
    }

    #global-search{
      .search-form{
        @extend .col-md-8;
        margin-top: 56px;

        @media (max-width: $screen-md-min) {
          margin-top: 10px;
        }

        [placeholder]:focus::-webkit-input-placeholder {
          transition: opacity 0.5s 0.5s ease;
          opacity: 0;
        }
      }
      .search-button{
        height:46px;
      }
    }

        #global-search-input{
          border-radius: 6px 0 0 6px;
        }

#volume-controls{
  position:absolute;
  bottom:20px;
  right:20px;
  color: white;
  text-size:22px;
  @extend %flexCenter;
  height:30px;
  min-width:30px;
  border-radius:15px;
  background-color:rgba(0, 0, 0, 0.5);
  cursor:pointer;

  &:hover{
//    @include square(50px);
  }

  i{
    margin-left:7px;
    margin-right:7px;
    @extend %transitionMargin;
  }

  .volume{
    @extend .glyphicon-volume-off;
  }
  &.sound-out{
    .volume{
      @extend .glyphicon-volume-up;
    }
  }
}