/ %h2= "Hello #{@user.first_name},"
/ = "  Thank you for posting #{@post.title} for #{@post.ministry.name}. We will review your content, and let you know once it is approved."
/ #view_post
/   The approval process combines the gifts of volunteers, pastors, and
/   = link_to 'View the Post & Discussion', admin_post_url(@approval_request.post)
