# EXAMPLE:
# common:
#   admin_email: admin@domain.com
#   xml_rpc_url: http://domain.com:8000/
#   media_path: <%= Rails.root %>/tmp/media
# 
# development:
#   xml_rpc_url: http://localhost:8000/
# 
# test:
#   xml_rpc_url: http://localhost:8008/

common:
  dev_user: developer
  dev_pass: developer
  domains:
    primary: cornerstonesf.org                        # CLOUDFRONT -> ORIGIN
    origin:  origin.cornerstonesf.org                 # WEB SERVERS
    assets:  assets%d.cornerstonesf.org               # DOMAIN RANGE: CLOUDFRONT -> S3
    legacy_media: media.cornerstone-sf.org
      
  vimeo:
    token: deddea72ddcd1b0d99e0c461ee52ba96
  paperclip:
    hash_secret: 'faffb797c3645584210908fea09473f330f9a07857e3ea84fa37c732f6b5af667d3d3f71ed292726bdba0d7d935f2f5813fe3454f0b44cf332a69153562cc6e9'
  redis:
    host: localhost
    port: 6379
    timeout: 2
    pool: 5
    namespace: sporos:resque
  crawler_user_agent: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.57 Safari/537.36' #http://www.useragentstring.com/pages/All/
  devise:
    secret_key: '0082e339f557aa3bd6bf6574779ad8c01ae5e70493b94895a5340b815926a09ebc7d319f7b0518ffdddd1e9dd8361af6e2bceb442446918bbeb95802564c92dd'
    pepper:     '7bfc982773957f715e0d65a138b355b26b4727e85d8323136b11c65451a315a56b630e99a9c7c4580701d7048df9d6bb0516e71ff0552e778e9533fc9b442c93'
  elasticsearch:
    index_name: sporos_<%= Rails.env %>
    address: localhost
    

development:
  domains:
    primary:  localhost:3000
    origin:   localhost:3000
    assets:   assets.dev.cornerstonesf.org
  
  s3:
    url: s3-us-west-1.amazonaws.com
    bucket: assets.dev.cornerstonesf.org
    credentials:
      access_key_id: NOT A USER?
      secret_access_key: GET AN ACCESS KEY FROM THE CORNERSTONE DIGITAL TEAM.

test:
  s3:
    url: s3-us-west-1.amazonaws.com
    bucket: assets.dev.cornerstonesf.org
    credentials:
      access_key_id: NOT A USER?
      secret_access_key: GET AN ACCESS KEY FROM THE CORNERSTONE DIGITAL TEAM.
  

production:  
  domains:
    primary: cornerstonesf.org                        # CLOUDFRONT -> ORIGIN
    origin:  sporos.cornerstonesf.org                 # WEB SERVERS
    assets:  assets%d.cornerstonesf.org               # DOMAIN RANGE: CLOUDFRONT -> S3
    legacy_media:  media.cornerstone-sf.org
  
  dev_user: developer
  dev_pass: 6a582863aa0cb850ff62924825e54555b5ee705b42d21c4280d5bced9adaaed3757eb2afcdf2c5d497226f811020f782905e909032fc9532e91f9110143b9fc8
  
  redis:
    host: <%= ENV['REDIS_ADDRESS_INT'] %>
  
  s3:
    url: s3-us-west-2.amazonaws.com #s3.amazonaws.com
    bucket: assets.cornerstonesf.org
    credentials:
      access_key_id: <%= ENV['AWS_ACCESS_KEY_ID'] %>
      secret_access_key: <%= ENV['AWS_SECRET_ACCESS_KEY'] %>

  vimeo:
    # token: deddea72ddcd1b0d99e0c461ee52ba96
  
  elasticsearch:
    address: <%= ENV['ELASTICSEARCH_ADDRESS_INT'] %>
  
  devise:
    secret_key: <%= ENV['DEVISE_SECRET_KEY'] %>
    pepper:     <%= ENV['DEVISE_PEPPER'] %>
  
  paperclip:
    hash_secret: <%= ENV['PAPERCLIP_HASH_SECRET'] %>
    
#custom_environment: