.row.step-progress
  .col-xs-4.step-progress-step.complete
    .progress
      .progress-bar
    .step-progress-dot
      %i.glyphicon
    .step-progress-info.text-center AUTHOR
    
  .col-xs-4.step-progress-step.disabled
    .progress
      .progress-bar
    .step-progress-dot
      %i.glyphicon
    .step-progress-info.text-center LEADER
    
  .col-xs-4.step-progress-step.disabled
    .progress
      .progress-bar
    .step-progress-dot
      %i.glyphicon
    .step-progress-info.text-center EDITOR

