.row.step-progress
  - approval_statuses.each do |approval_group, status|
    .col-xs-4.step-progress-step{class:status}
      .progress
        .progress-bar
      .step-progress-dot
        %i.glyphicon
      .step-progress-info.text-center= approval_group
