- if current_user && current_user.admin? || current_user == post.author
  .post-management
    .post-management-actions
      .post-action{html:{role:'presentation'}}
        = link_to edit_admin_post_path(id:post), html:{role:'button'}, class:'btn btn-link' do
          %i.glyphicon.glyphicon-edit
          .post-action-copy Edit
      .post-action{html:{role:'presentation'}}
        = link_to admin_post_path(id:post), :method => :delete, :data => { :confirm => "Are you sure?\nIt will really be gone." }, html:{role:'button'}, class:'btn btn-link' do
          %i.glyphicon.glyphicon-trash
          .post-action-copy Delete

    %a.post-management-cog{href:'#'}
      %i.glyphicon.glyphicon-cog