.row.step-progress
  - approval_statuses.each do |approval_group, status|
    .step-progress-step{class:[status, "col-xs-#{12 / approval_statuses.length}"].join(' ')}
      .progress
        .progress-bar
      .step-progress-dot
        %i.glyphicon
      .step-progress-info.text-center= approval_group
