= render_partial_for @post

.admin_controls
  .published= link_to( 'View Published', post_path(id:@post.id)) if @post.published_at
  .edit= link_to 'Edit', edit_admin_post_path(id:@post.id)
  .destroy= link_to 'Destroy', admin_post_path(id:@post.id), :method => :delete, :data => { :confirm => "Are you sure?\nIt will really be gone." }

