#cards{
  @extend .row;
  text-align: center;

  &.social-grid{
    .card{
      @extend .col-sm-6;
      @extend .col-md-4;
      @extend .col-lg-3;
      @extend .col-xl-2;

      @media (max-width: $screen-xs-max) {
        width:100%;
        .thumbnail{ width:inherit;}
      }
    }
  }

  .card{
    max-width:$screen-xs-max;
    display: inline-flex;
    padding:  .25rem;
    position: relative;
    flex-direction:column;

    &.photo{  }

    .thumbnail{
      overflow:hidden;
      text-decoration:none;
      width:100%;
      position:relative;

      .thumbnail-img{
       height: auto;
       width: calc(100% + 8px);
       max-width: calc(100% + 8px);
       margin-left: -4px;
      }

      .stack-frame{
        overflow:hidden;
      }

      .stack{
        margin-bottom:-20px;

        img{
          border:2px solid #FFF;
        }
      }

      .stack-cornergrid img{
        height:400px;
      }

      .source-domain{
        text-align: left;
        font-weight:bold;
      }

      .captions p{
        text-align: justify;
      }
    }

    .post-management{
      .post-management-actions{
        @extend %transitionHeight;
        height:0px;
        overflow:hidden;
        background-color:$gray-darker;
        color:white;
        margin:-4px;

        .post-action{
          @extend .col-xs-6;
          @extend .center-block;
          @extend %transitionOpacity;
          opacity:0;
          a{
            text-decoration:none;
            color:white
          }
        }

        .post-action-copy{
          @extend .hidden-xs;
          @extend .hidden-sm;
          display:inline-block;
        }
      }

      .post-management-cog{
        position:absolute;
        top:4px;
        right:4px;
        color:$gray-darker;
        z-index:1;
        border-radius: 50%;
        background-color: rgba(255,255,255,0.5);
        height: 24px;
        width: 24px;
        line-height: 28px;
        font-size: 16px;
        opacity:0;
      }

      &.active{
        .post-management-actions{
          height:36px;
        }

        .post-action{
          opacity:1;
        }

        .post-management-cog{
          color:white;
          opacity:1;
        }
      }

    }

    &:hover{
      .post-management-cog{opacity:1;}
    }
  }
}

#posts-show{
  .post-management-cog{
    opacity:1 !important;

    i{
      top:0 !important;
    }
  }

}