@mixin verticalAlign($percent) {
  position: relative;
  top: $percent;
  -webkit-transform: translateY(-$percent);
  -ms-transform: translateY(-$percent);
  transform: translateY(-$percent);
}

@mixin transitionValue($val){
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;

  -webkit-transition-property: $val;
  -moz-transition-property: $val;
  -o-transition-property: $val;
  transition-property: $val;
  
  -webkit-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
  -moz-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
  -o-transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
}

@mixin duration($val){
  -webkit-animation-duration: $val;
  -moz-animation-duration: $val;
  -o-animation-duration: $val;
  animation-duration: $val;
  
  -webkit-transition-duration: $val;
  -moz-transition-duration: $val;
  -o-transition-duration: $val;
  transition-duration: $val;
}

%verticalCenter{
  @include verticalAlign(50%);
}

%truncate{
  @include text-overflow();
}

.notransition {
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

%transitionHeight   { @include transitionValue(height);        }
%transitionOpacity  { @include transitionValue(opacity);       }
%transitionWidth    { @include transitionValue(width);         }
%transitionMargin   { @include transitionValue(margin);        }
%transitionTop      { @include transitionValue(top);           }
%transitionTransform{ @include transitionValue(transform);     }

.fadeIn{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}