@mixin verticalAlign($percent) {
  position: relative;
  top: $percent;
  -webkit-transform: translateY(-$percent);
  -ms-transform: translateY(-$percent);
  transform: translateY(-$percent);
}

@mixin transitionValue($val){
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;

  -webkit-transition-property: $val;
  -moz-transition-property: $val;
  -o-transition-property: $val;
  transition-property: $val;
}

%verticalCenter{
  @include verticalAlign(50%);
}

%truncate{
  @include text-overflow();
}

%transitionHeight   { @include transitionValue(height)        }
%transitionWidth    { @include transitionValue(width)         }
%transitionMargin   { @include transitionValue(margin)        }
%transitionTop      { @include transitionValue(top)           }
%transitionTransform{ @include transitionValue(transform)     }

.fadeIn{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}