@mixin verticalAlign($percent) {
  position: relative;
  top: $percent;
  @include transform(translateY(-$percent));
}

@mixin transitionValue($val){
  @include transition-duration(0.5s);
  @include transition-property($val);
  @include transition-timing-function(cubic-bezier(0.860, 0.000, 0.070, 1.000)); /* easeInOutQuint */
}

@mixin duration($val){
  @include animation-duration($val);
  @include transition-duration($val);
}

@mixin delay($val){
 @include animation-delay($val);
}

%newCSSLayer{
  -webkit-transform: translate3d(0,0,0);
//  -webkit-transform: translateZ(0);
}

%verticalCenter{
  @include verticalAlign(50%);
}

%truncate{
  @include text-overflow();
}

%flex{
  @include display(flex);
  @include flex-direction(row);
}

%flexCenter{
  @extend %flex;
  @include justify-content(center);
  @include align-content(space-between);
  @include align-items(center);
  @include flex-wrap(nowrap);
  text-align:center;
}

%flexy-grid{
  @extend %flex;
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  @include align-content(center);
  @include align-items(center);
}

.blurable {
  @extend %newCSSLayer;
  @include transitionValue('all');
  @include duration(1s);

  &.blured {
    @include opacity(0.4);
    @include filter(blur(5px));
  }
}

.notransition {
  @include transition-property(none !important);
  @include transform( none !important);
  @include animation( none !important);
}

.instant-animation{
  @include animation-duration(0s !important);
}

%transitionHeight     { @include transitionValue(height);        }
%transitionMinHeight  { @include transitionValue(min-height);    }
%transitionOpacity    { @include transitionValue(opacity);       }
%transitionWidth      { @include transitionValue(width);         }
%transitionMargin     { @include transitionValue(margin);        }
%transitionTop        { @include transitionValue(top);           }
%transitionTransform  { @include transitionValue(transform);     }

.fadeIn{ @include animation(fadein 1s); }
@include keyframes(fadein) {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@mixin coverImage($image_name){
  background: url( image-path(#{$image_name}) ) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin containImage($image_name){
  background: url( image-path(#{$image_name}) ) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}