html, body{
  background-color:#E6E7E9;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.view-port-page{ 
  @extend .animated;
  @extend %transitionTransform;
  -webkit-overflow-scrolling: touch;
  background-color:#FFFFFF;
  overflow:hidden;

  &.background{
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
}

#main-page{
  position: fixed;
  overflow-y:auto;
  width: 100%;
  height: 100%;
  top: 0;
}

#page{
  @include duration(0.7s);
  position:relative;
  
  &.transition{
    &.current{
      @extend .bounceInUp;
      animation-fill-mode:backwards;
      -webkit-animation-fill-mode:backwards;
    }
    &:not(.current){
      @extend .bounceOutDown;
    }
  }
}


#backlinks{
  @include transitionValue(padding);
  position: fixed;
  top: 0;
  left: 15px;
  z-index: 1000;
  padding: 10px 14px 10px 48px;
  border-radius: 0 0 16px 16px;
  background:$gray-darker url(image_path('small_logo.png')) 12px center no-repeat;
	-webkit-box-shadow: 0 7px 10px -7px #777;
	   -moz-box-shadow: 0 7px 10px -7px #777;
	        box-shadow: 0 7px 10px -7px #777;
  
  a{
    color: $gray-lighter;
    text-decoration:none !important;
    display:inline-block;
  }
  
  #go_home{
    padding-right:14px;
  }
  
  #go_lib{
    border-left:1px solid $gray-lighter;
    padding-left:15px;
  }
  
    .cta{
      @include transitionValue(all);
      display:block;
      font-size:12px;
      opacity:0;
      height:0px;
    }
  
  &:hover, &.full{
    padding-top:15px;
    padding-bottom:15px;
    
    .cta{
      opacity:1;
      height:10px;
    }
  }
}