html, body{
  overflow:hidden;
}

#view-port{
  width: 100%;
  height: 100%;
  overflow:hidden;
}

    #main-page, #page{ 
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      overflow-y:auto;
    }

    #main-page{ }

    #page{
      left:100%;
    }
