---
http_interactions:
- request:
    method: get
    uri: https://api.vimeo.com/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer deddea72ddcd1b0d99e0c461ee52ba96
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.user+json
    body:
      encoding: UTF-8
      string: '{"uri":"/users/37127388","name":"Chip Miller","link":"https://vimeo.com/user37127388","location":null,"bio":null,"created_time":"2015-02-05T21:41:16+00:00","account":"basic","pictures":null,"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/37127388/activities","options":["GET"]},"albums":{"uri":"/users/37127388/albums","options":["GET"],"total":0},"channels":{"uri":"/users/37127388/channels","options":["GET"],"total":0},"feed":{"uri":"/users/37127388/feed","options":["GET"]},"followers":{"uri":"/users/37127388/followers","options":["GET"],"total":0},"following":{"uri":"/users/37127388/following","options":["GET"],"total":0},"groups":{"uri":"/users/37127388/groups","options":["GET"],"total":0},"likes":{"uri":"/users/37127388/likes","options":["GET"],"total":0},"portfolios":{"uri":"/users/37127388/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/37127388/videos","options":["GET"],"total":2},"watchlater":{"uri":"/users/37127388/watchlater","options":["GET"],"total":0},"shared":{"uri":"/users/37127388/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/37127388/pictures","options":["GET","POST"],"total":0}}},"content_filter":["language","drugs","violence","nudity","safe","unrated"],"upload_quota":{"space":{"free":524206500,"max":524288000,"used":81500},"quota":{"hd":false,"sd":true}}}'
  recorded_at: Thu, 19 Feb 2015 23:53:41 GMT
- request:
    method: post
    uri: https://api.vimeo.com/me/videos
    body:
      encoding: UTF-8
      string: redirect_url=http%3A%2F%2Fcornerstone-sf.org&type=POST
    headers:
      Authorization:
      - bearer deddea72ddcd1b0d99e0c461ee52ba96
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.vimeo.uploadticket+json
    body:
      encoding: UTF-8
      string: '{"uri":"/users/user37127388/tickets/f051e92b6b432bfbe95ea992b48f34a5","ticket_id":"f051e92b6b432bfbe95ea992b48f34a5","user":{"uri":"/users/37127388","name":"Chip
        Miller","link":"https://vimeo.com/user37127388","location":null,"bio":null,"created_time":"2015-02-05T21:41:16+00:00","account":"basic","pictures":null,"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/37127388/activities","options":["GET"]},"albums":{"uri":"/users/37127388/albums","options":["GET"],"total":0},"channels":{"uri":"/users/37127388/channels","options":["GET"],"total":0},"feed":{"uri":"/users/37127388/feed","options":["GET"]},"followers":{"uri":"/users/37127388/followers","options":["GET"],"total":0},"following":{"uri":"/users/37127388/following","options":["GET"],"total":0},"groups":{"uri":"/users/37127388/groups","options":["GET"],"total":0},"likes":{"uri":"/users/37127388/likes","options":["GET"],"total":0},"portfolios":{"uri":"/users/37127388/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/37127388/videos","options":["GET"],"total":2},"watchlater":{"uri":"/users/37127388/watchlater","options":["GET"],"total":0},"shared":{"uri":"/users/37127388/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/37127388/pictures","options":["GET","POST"],"total":0}}},"content_filter":["language","drugs","violence","nudity","safe","unrated"],"upload_quota":{"space":{"free":524206500,"max":524288000,"used":81500},"quota":{"hd":false,"sd":true}}},"upload_link":"http://1511655338.cloud.vimeo.com/upload?ticket_id=f051e92b6b432bfbe95ea992b48f34a5&video_file_id=338311973&signature=cb7dff2b1ac30e2f018ab0f23b495fa0&v6=1&full_hd=0&redirect_url=https%3A%2F%2Fvimeo.com%2Fupload%2Fapi%3Fvideo_file_id%3D338311973%26app_id%3D49619%26ticket_id%3Df051e92b6b432bfbe95ea992b48f34a5%26signature%3Dcaab9cd0c0929e96a39ec05b57453d3837a80223%26redirect%3Dhttp%253A%252F%252Fcornerstone-sf.org","upload_link_secure":"https://1511655338.cloud.vimeo.com/upload?ticket_id=f051e92b6b432bfbe95ea992b48f34a5&video_file_id=338311973&signature=cb7dff2b1ac30e2f018ab0f23b495fa0&v6=1&full_hd=0&redirect_url=https%3A%2F%2Fvimeo.com%2Fupload%2Fapi%3Fvideo_file_id%3D338311973%26app_id%3D49619%26ticket_id%3Df051e92b6b432bfbe95ea992b48f34a5%26signature%3Dcaab9cd0c0929e96a39ec05b57453d3837a80223%26redirect%3Dhttp%253A%252F%252Fcornerstone-sf.org","form":"<form
        method=\"POST\" action=\"http://1511655338.cloud.vimeo.com/upload?ticket_id=f051e92b6b432bfbe95ea992b48f34a5&video_file_id=338311973&signature=cb7dff2b1ac30e2f018ab0f23b495fa0&v6=1&full_hd=0&redirect_url=https%3A%2F%2Fvimeo.com%2Fupload%2Fapi%3Fvideo_file_id%3D338311973%26app_id%3D49619%26ticket_id%3Df051e92b6b432bfbe95ea992b48f34a5%26signature%3Dcaab9cd0c0929e96a39ec05b57453d3837a80223%26redirect%3Dhttp%253A%252F%252Fcornerstone-sf.org\"
        enctype=\"multipart/form-data\">\n<label for=\"file\">File:</label>\n<input
        type=\"file\" name=\"file_data\" id=\"file\"><br>\n<input type=\"submit\"
        name=\"submit\" value=\"Submit\">\n</form>"}'
  recorded_at: Thu, 19 Feb 2015 23:53:41 GMT
- request:
    method: post
    uri: https://1511655338.cloud.vimeo.com/upload?full_hd=0&redirect_url=https://vimeo.com/upload/api?video_file_id=338311973%26app_id=49619%26ticket_id=f051e92b6b432bfbe95ea992b48f34a5%26signature=caab9cd0c0929e96a39ec05b57453d3837a80223%26redirect=http%253A%252F%252Fcornerstone-sf.org&signature=cb7dff2b1ac30e2f018ab0f23b495fa0&ticket_id=f051e92b6b432bfbe95ea992b48f34a5&v6=1&video_file_id=338311973
    body:
      encoding: UTF-8
      string: file_data=%23%3CFile%3A0x007fd6c79da648%3E
    headers:
      Authorization:
      - bearer deddea72ddcd1b0d99e0c461ee52ba96
  response:
    status:
      code: 302
      message: Moved Temporarily
    headers:
      Location:
      - https://vimeo.com/upload/api?video_file_id=338311973&app_id=49619&ticket_id=f051e92b6b432bfbe95ea992b48f34a5&signature=caab9cd0c0929e96a39ec05b57453d3837a80223&redirect=http%3A%2F%2Fcornerstone-sf.org
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Feb 2015 23:53:43 GMT
- request:
    method: get
    uri: https://vimeo.com/upload/api?app_id=49619&redirect=http://cornerstone-sf.org&signature=caab9cd0c0929e96a39ec05b57453d3837a80223&ticket_id=f051e92b6b432bfbe95ea992b48f34a5&video_file_id=338311973
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer deddea72ddcd1b0d99e0c461ee52ba96
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - http://cornerstone-sf.org?video_uri=%2Fvideos%2F120109687
      X-Varnish-Cache:
      - '0'
      X-Vserver:
      - dfvimeowebproxy4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Feb 2015 23:53:44 GMT
- request:
    method: patch
    uri: https://api.vimeo.com/videos/120109687
    body:
      encoding: UTF-8
      string: description=Message%20of%20wonders%20is%20a%20very%20important%20message.&license=by-nc-nd&name=Message%20of%20Wonders&privacy%5Bembed%5D=public&privacy%5Bview%5D=anybody&review_link=false
    headers:
      Authorization:
      - bearer deddea72ddcd1b0d99e0c461ee52ba96
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.vimeo.video+json
    body:
      encoding: UTF-8
      string: '{"uri":"/videos/120109687","name":"Message of Wonders","description":"Message
        of wonders is a very important message.","link":"https://vimeo.com/120109687","duration":0,"width":400,"locale":null,"height":300,"created_time":"2015-02-19T23:53:44+00:00","modified_time":"2015-02-19T23:53:45+00:00","content_rating":["unrated"],"license":"by-nc-nd","privacy":{"view":"anybody","embed":"public","download":true,"add":true,"comments":"anybody"},"pictures":null,"tags":[],"stats":{"plays":0},"embed":{"buttons":{"like":true,"watchlater":true,"share":true,"embed":true,"hd":false,"fullscreen":true,"scaling":true},"logos":{"vimeo":true,"custom":{"active":false,"link":null,"sticky":false}},"title":{"name":"user","owner":"user","portrait":"user"},"playbar":true,"volume":true,"color":"00adef"},"metadata":{"connections":{"comments":{"uri":"/videos/120109687/comments","options":["GET","POST"],"total":0},"credits":{"uri":"/videos/120109687/credits","options":["GET","POST"],"total":1},"likes":{"uri":"/videos/120109687/likes","options":["GET"],"total":0},"pictures":{"uri":"/videos/120109687/pictures","options":["GET","POST"],"total":0},"texttracks":{"uri":"/videos/120109687/texttracks","options":["GET","POST"],"total":0}},"interactions":{"watchlater":{"added":false,"added_time":null,"uri":"/users/37127388/watchlater/120109687"}}},"embed_presets":null,"user":{"uri":"/users/37127388","name":"Chip
        Miller","link":"https://vimeo.com/user37127388","location":null,"bio":null,"created_time":"2015-02-05T21:41:16+00:00","account":"basic","pictures":null,"websites":[],"metadata":{"connections":{"activities":{"uri":"/users/37127388/activities","options":["GET"]},"albums":{"uri":"/users/37127388/albums","options":["GET"],"total":0},"channels":{"uri":"/users/37127388/channels","options":["GET"],"total":0},"feed":{"uri":"/users/37127388/feed","options":["GET"]},"followers":{"uri":"/users/37127388/followers","options":["GET"],"total":0},"following":{"uri":"/users/37127388/following","options":["GET"],"total":0},"groups":{"uri":"/users/37127388/groups","options":["GET"],"total":0},"likes":{"uri":"/users/37127388/likes","options":["GET"],"total":0},"portfolios":{"uri":"/users/37127388/portfolios","options":["GET"],"total":0},"videos":{"uri":"/users/37127388/videos","options":["GET"],"total":3},"watchlater":{"uri":"/users/37127388/watchlater","options":["GET"],"total":0},"shared":{"uri":"/users/37127388/shared/videos","options":["GET"],"total":0},"pictures":{"uri":"/users/37127388/pictures","options":["GET","POST"],"total":0}}},"content_filter":["language","drugs","violence","nudity","safe","unrated"],"upload_quota":{"space":{"free":524206500,"max":524288000,"used":81500},"quota":{"hd":false,"sd":true}}},"app":{"name":"Cornerstone
        Chruch SF","uri":"/apps/49619"},"status":"uploading"}'
  recorded_at: Thu, 19 Feb 2015 23:53:45 GMT
[...]
- request:
    method: get
    uri: https://vimeo.com/upload/api?app_id=49619&redirect=http://cornerstone-sf.org&signature=51e14d78ca2a8365e50b0c6f49f81e7f699a1723&ticket_id=732d671b0d8a5d5d39d3d81b3291ec8f&video_file_id=389687364
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer deddea72ddcd1b0d99e0c461ee52ba96
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - http://cornerstone-sf.org?error=uploading_error&error_description=An+error+has+occurred+when+finalizing+the+video.+Let+us+know+and+please+try+again.
      X-Varnish-Cache:
      - '0'
      X-Vserver:
      - dfvimeowebproxy4
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 07 Jul 2015 23:23:29 GMT
recorded_with: VCR 2.9.3
