- content_for :page_specific_js_initializers do
  = javascript_include_tag "page_initializers/community_content"

#page_body
  %h1 SpecialPages#invest_in_cornerstone
  %p Find me in app/views/special_pages/invest_in_cornerstone.html.haml
