- content_for :page_specific_js_initializers do
  = javascript_include_tag "page_initializers/community_content"

#page_body
  %h1 SpecialPages#new_to_cornerstone
  %p Find me in app/views/special_pages/new_to_cornerstone.html.haml
