- content_for :page_specific_js_initializers do
  = javascript_include_tag "page_initializers/community_content"

#page_body
  %h1 SpecialPages#times_and_locations
  %p Find me in app/views/special_pages/times_and_locations.html.haml
