#photo-stack
  #ps_overlay.ps_overlay{:style => "display:none;"}
    %a#ps_close.ps_close{:style => "display:none;"}
      %i.glyphicon.glyphicon-remove-circle
  #ps_container.ps_container{:style => "display:none;"}
    %a#ps_next_photo.ps_next_photo{:style => "display:none;"}
      %i.glyphicon.glyphicon-share-alt