@import "bourbon";
@import "modules/bootstrap_extended";
@import "modules/helpers";
@import "modules/photo_stack";
@import "modules/stack_effects";
@import "modules/file_uploader";
@import "modules/vimeo_video";
@import "modules/cards";
@import "pickadate/lib/themes/default";
@import "pickadate/lib/themes/default.date";
@import "pickadate/lib/themes/default.time";
@import "image-picker/image-picker/image-picker";
@import "vendor/animate";


html,body{
  background-color:$gray-lighter;
  padding-bottom:60px;
}

.pick-a-date, .pick-a-date-w-clear, .pick-a-time{
  background:white !important;
}

.panel.panel-default{
  margin-top:10px;
}

.nav-header{
  font-weight:bold;
  margin-top:20px;
  
  &:first-child{
    margin-top:0px;
  }
}

#new-post{  
  @extend %newCSSLayer;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding:0 10%;
  
  @media (max-width: $screen-xs-max) {
    padding: 0 10%;
  }
  
  @media (min-width: $screen-md-min) {
    padding: 0 30%;
  }
  
  @extend %flexy-grid;
  
  &.inactive{
    @extend %transitionHeight;
    @include transition-delay(1s);
    @include transition-duration(0s);
    height:0px;
  }
    
  .new-post-type{
    width:50%;
    height:30%;
    @extend %flexy-grid;
    @extend .animated;
    
    a{
      background-color: white;
      border: 3px solid $gray-light;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      font-size:18px;
      text-decoration:none;
      @extend %flexy-grid;
      
      &.opening{
        color: $gray-lighter !important;
        background-color:$gray-lighter;
        
        @extend %transitionTransform;
        @media (max-width: $screen-lg-max) {
          @include transform(scale(50));
        }
        @media (max-width: $screen-md-max) {
          @include transform(scale(25));
        }
        @media (max-width: $screen-sm-max) {
          @include transform(scale(20));
        }
        @media (max-width: $screen-xs-max) {
          @include transform(scale(15));
        }
      }
    }
  }
  
  .post-create-nav-enter{
    @extend .bounceInUp;
  
    &.pop-1{ @include delay(0.1s); @include duration(0.9s);}
    &.pop-2{ @include delay(0.2s); @include duration(0.8s);}
    &.pop-3{ @include delay(0.3s); @include duration(0.7s);}
    &.pop-4{ @include delay(0.4s); @include duration(0.6s);}
  }
  .post-create-nav-leave{
    @extend .bounceOutDown;
  
    &.pop-1{ @include delay(0.1s); @include duration(1s);}
    &.pop-2{ @include delay(0.2s); @include duration(1s);}
    &.pop-3{ @include delay(0.1s); @include duration(0.6s);}
    &.pop-4{ @include delay(0.2s); @include duration(0.6s);}
  } 
}

#global-nav-bar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background:$gray-darker;
  height: 70px;
  line-height: 70px;
  z-index: 1000;
  
  .global_nav_item{
    text-align:center;
    font-size: 24px;
  }
  
  .col-xs-6{
    font-size: 28px;
    border-left:2px solid $gray-lighter;
    border-right:2px solid $gray-lighter;
  }
  
  a{
    color:$gray-lighter;
  }
}

.btn-flat{
  font-weight: 300;
  letter-spacing: 1px;
  color:white;
  background-color:$gray;

  &:focus, &:hover{
    color: white;
    background-color:$gray-light;
  }
}


#posts-index{

  h1,h2,h3,h4,h5,button,.title{
    font-weight: 300;
    letter-spacing: 1px; 
  }
  
  #posts{
//    margin-top:80px;
    margin-bottom:70px;
    
    h4{
      margin-top: 20px;
    }
  }
  
  #header, #profile, #header h4 {color:$gray-dark;}
  
  #header{
    top: 0;
    left: 0;
    width:100%;
    text-align:center;
    height:100px;
    line-height:100px;
    position:fixed;
    background-color:$gray-lighter;
    z-index: 1;
  }

  #profile{
    @extend .row;
    padding-top:100px;
    padding-bottom:100px;
    text-align:center;
    display:flex;
    flex-direction:row;
    justify-content:center;
    
    
    .picture{
//      @extend .col-xs-4;
      margin-top: 15px;
      height: 120px;
      line-height: 120px;
      text-align: center;
      align-self:center;
      
      img{
        height:inherit;
      }
    }
    
    .name{
      margin-left:20px;
      align-self:center;
      
      h3{
        font-size:36px;
        line-height: 26px;
      }
    }
  }
  
  .compact-post{
    @extend .row;
    background-color:white;
    color:$gray-light;
    height:70px;
    line-height:70px;
    margin-top: 10px;
    margin-bottom: 10px;
  
    .info{
     @extend .col-xs-7;
     @extend %verticalCenter;
   
     .row{ line-height: initial; }
    }
    
    .follow-up{
      @extend .col-xs-3;
      text-align:center;
      
      .follow-up-btn{
        font-weight:300;
        color:white;
        background-color:$gray;
      
        &:focus, &:hover{
          color: white;
          background-color:$gray-light;
        }
      }
    
      .public-link{
        @extend .glyphicon;
        @extend .glyphicon-new-window;
        font-size: 24px;
        height:70px;
        line-height:70px;
        color:$gray;
        
        &:hover{
          color:$gray-darker;
        }
      }
    }
  
    .unread-comments{
      @extend .col-xs-2;
      text-align:center;
      height:40px;
      position:relative;
      
      .glyphicon{
        font-size:30px;
        top: 10px;
      }
      .label{
        position:absolute;
        top: 20px;
        margin-left: -10px;
      }
    }
  
    .title{
      @extend %truncate;
      font-size:18px;
    }

  }
}

#posts-show{  
  #status-bar{
    letter-spacing: 1px;
    @extend .row; 
    border-top:10px solid $gray-dark;
    border-bottom:5px solid $gray-dark;
    height:80px;
    line-height:65px;
    background-color:$gray-lighter;
  }
  
  .col-xs-7{
    padding-right:0px;
  }
  
  #status{
    line-height: 24px;
    padding: 10px 20px;
    
    p { 
      margin: 0 0 -20px;
      font-weight:100;
    }

    strong{
      font-size:24px;
      font-weight:300;
      line-height: 55px;
    }
  }
  
  #status-action{
    @extend .pull-right;
    padding: 0 0 0 20px;
    width:100%;
    margin-top: -5px;
  }
  
  #step-progress-help{
    position:absolute;
    top:-10px;
    right:5px;
    color:$gray-light;
    font-size: 15px;
  }
  
  #comments{
    @extend .col-xs-12;
    color:$gray-darker;
    
    #read-comments{
      .comment{
        margin: 0;
        padding: 20px 0;
        position:relative;
      }
    }
    #write-comments{ }
      #comment-field{
        @extend .col-xs-12;
        min-height: 90px;
        padding: 10px 15px;
        font-size: 16px;
      
        textarea{
          background-color: transparent;
          border: none;
          box-shadow: none;
          outline:none;
          font-size:16px;
          resize:none;
          min-height:50px;
          @extend %transitionMinHeight;
          padding:5px;
          
          &:focus{ min-height:100px; }
        }
      }
      #comment-submit-row{
        margin-right:64px;
        margin-top:10px;
      }

    
    .user{
      position:relative;
      
      .tri-left:before, .tri-left:after,
      .tri-right:before, .tri-right:after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        margin-top: 5px;
        
        z-index: 1;
      }

      /* Stroke */
      .tri-left:before {
        top:0;
        bottom: -16px;
        right: 0px;
        border-right-color: $gray-light;
        border-width: 0px 17px 17px 0;
        margin-right: -1px;
      }

      /* Fill */
      .tri-left:after {
        right: 0px;
        top:1px;
        border-right-color: #FFF;
        border-width: 0px 15px 15px 0;
        margin-right: -1px;
      }
      
      .tri-right:before {
        bottom: 0px;
        left: 0px;
        border-bottom-color: $gray-light;
        border-width: 0 17px 17px 0;
        margin-left: -1px;
      }

      /* Fill */
      .tri-right:after {
        left: 0px;
        bottom:1px;
        border-bottom-color: $gray-lighter;
        border-width: 0 15px 15px 0;
        margin-left: -1px;
      }
    }
    
    .word-bubble{
      position:relative;
      margin-left:0;
      margin-right:0;
      min-height:70px;
      padding:15px;
      @include gradient-vertical(#FFF, $gray-lighter, 70%, 100%);
      border:1px solid $gray-light;
      border-radius:5px;
      border-top-left-radius:0px;
      border-bottom-right-radius:0px;
    }
    
    .my-comment{
      .word-bubble{
        border-bottom-right-radius:0px;
        border-top-left-radius:5px;
        @include gradient-vertical(#FFF, $gray-lighter, 70%, 90%);
      }
    }
    
    #approvers{
      @extend .col-xs-7;
    }
    #comment-buttons{
      @extend .col-xs-5;
      text-align:right;
    }
  }

  .step-progress {
    border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;
  
    .step-progress-step{
      padding: 0; position: relative;
      
      .step-progress-info {color: $gray-light; font-size: 10px; margin-top:-15px;}
      .step-progress-dot {position: absolute; width: 30px; height: 30px; display: block; background: $brand-success; top: 45px; left: 50%; margin-top: -37px; margin-left: -15px; border-radius: 50%;} 
      .progress {
        position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;
        
        .progress-bar {width:100%; box-shadow: none; background: $brand-success;}
      }
      &.undecided > .step-progress-dot{background-color: $gray-lighter; border:3px solid $brand-success;}
      &.rejected > .step-progress-dot {background-color: darken($brand-danger, 5%); border:2px solid $gray-lighter;}
      &.accepted .glyphicon {
        @extend .glyphicon-ok;
        color:$gray-lighter;
        left:8px;
        top:4px;
      }
      &.undecided .glyphicon {
        @extend .glyphicon-refresh;
        color:$gray-light;
        top:2px;
        left:5px;
      }
      &.rejected .glyphicon {
        @extend .glyphicon-remove;
        color:$gray-lighter;
        top:3px;
        left:6px;
      }
      &:first-child  > .progress {left: 50%; width: 50%;}
      &:last-child  > .progress {width: 50%;}
       .step-progress-step.accepted a.step-progress-dot{ pointer-events: none; }
    }
  }
}

#onboarding_messages{
  h3{
    margin-top:0 !important;
  }
}

#post-form{
  #comm-arts-print{
    .field{
      @extend .col-md-3;
      @extend .col-xs-6;
      text-align:center;

      @media (min-width: 450px) {
        br{
          display:none;
        }
      }
    }
  }

  .field{
    @extend .form-group;
  }
    
  #instrutions{
    @include transitionValue(all);
    
    #instruction-text{}
    #show-loading{
      display:none;
    }
    
    &.loading{
      #instruction-text{
        display:none;
      }
      #show-loading{
        display:block;
      }
    }
  }
  
  .image_picker_selector{
    overflow-y: hidden;
    overflow-x: auto;
    height: 200px;
    width:auto;
    white-space:nowrap;
    
    &::last-child{
      margin-right:0;
    }
    
    li{
      float:none;
      display: inline-block;
    }
  }
    .image_picker_image{
      height:180px;
    }
  
  .picker--opened {
    .picker__holder{
      height:100%;
    }
    .picker__frame{
      @extend %verticalCenter;
    } 
  }
  
  #external-url-details{
    @include transitionValue('max-height');
    max-height:0px;
    overflow:hidden;
    
    &.populated{
      max-height:800px;
    }
  }
  
  #advanced-features{
  }
     
    #advanced-drawer{
      overflow:hidden;
  
      &.closed{
        max-height:0px;
        padding:0px;
      } 
    }
      
    #comm_arts_design_questions{
      overflow:hidden;
      height:0px;
      min-height:0px;
      
      &.open-drawer{
        min-height:270px;
        height:inherit;
      }
      
      .description{
        display:inline-block;
        color:$gray;
      }
    }
    
  .nav{
    border-bottom:0px solid #ddd;
    .active a{
      background-color:#ddd;
    }
  }
  
  #vimeo-video{
    .help-block{
      margin:20px 0;
      overflow:hidden;
      display:flex;
      justify-content: center;
      align-content: space-between;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      text-align:center;
    }
    
    .vimeo-video{
      margin-top:20px;
    }
    
    img{
      width:100%;
    }
  }
}
