@import "modules/bootstrap_extended";
@import "modules/helpers";

.panel.panel-default{
  margin-top:10px;
}

.nav-header{
  font-weight:bold;
  margin-top:20px;
  
  &:first-child{
    margin-top:0px;
  }
}