#groups-public {
  margin-top: 50px;

  .row {
    margin-left: 25px;
    margin-right: 25px;
  }

  .well#login_button {
    text-align: center;
  }
}

#groups-study-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
}

#member-groups {
  .row {
    margin-top: 10px;
    margin-left: 20px;
  }

  .step-progress {
    border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;

    .step-progress-step{
      padding: 0; position: relative;

      .step-progress-dot {position: absolute; width: 30px; height: 30px; display: block; background: $brand-success; top: 45px; left: 50%; margin-top: -37px; margin-left: -15px; border-radius: 50%;}
      .progress {
        position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;
        .progress-bar {width:100%; box-shadow: none; background: $brand-success;}
      }

      &.undecided > .step-progress-dot{background-color: $gray-lighter; border:3px solid $brand-success;}
      &.rejected > .step-progress-dot {background-color: darken($brand-danger, 5%); border:2px solid $gray-lighter;}
      &.accepted .glyphicon {
        @extend .glyphicon-play;
        color:$gray-lighter;
        left:8px;
        top:4px;
      }
      &.undecided .glyphicon {
        @extend .glyphicon-refresh;
        color:$gray-light;
        top:2px;
        left:5px;
      }
      &.rejected .glyphicon {
        @extend .glyphicon-remove;
        color:$gray-lighter;
        top:3px;
        left:6px;
      }
      &:first-child  > .progress {left: 50%; width: 50%;}
      &:last-child  > .progress {width: 50%;}
       .step-progress-step.accepted a.step-progress-dot{ pointer-events: none; }
    }
  }
}
