#global-search.search
  %form.search-form{role:'search'}
    .input-group
      %input#global-search-input.text{type:'text', placeholder:'What are you looking for?'}
      .input-group-btn  
        %button.search-button.submit{type:'submit'}
          %i.glyphicon.glyphicon-search
    .hint 
      Examples:&nbsp;
      %span.thin Kids, &nbsp;Parking, &nbsp;Small Groups, &nbsp;Luke 12:12, &nbsp;Current Series, &nbsp;Get Involved
