#main-body{
  @extend .container-fluid;
}
    
    #evergreen-links{
      @extend .row;
      margin:20px 0 -20px 0;

      .evergreen-link{
        @extend .col-sm-4;

        .panel{
          text-align:center;
          height:100px;
        }
      }
    }

        #new-to-cornerstone{ }
        #times-and-locations{ }
        #invest-in-cornerstone{ }
    
    #current-content-nav{
      @extend .nav;
      @extend .nav-tabs;
      margin: 0 -15px;
      padding: 0 15px;
      
      .active > a{
        background-color:$gray-lighter !important;
      }
    }
    
    #comming-up{
      @include gradient-vertical($gray-lighter, #FFF, 0%, 20%);
      margin: 0px -15px;
      padding: 0px 33px;
      @media (min-width: $screen-md-min) {
        padding:0px 47px;
      }
    }
        
        #community-feed{
          @extend .col-xs-12;
          font-size: $font-size-large;
          padding: 9px 3px;
        }

            #community-feed-links{
              @extend .nav;
              @extend .nav-pills;
              @extend .pull-right;
              h4{
                @extend .pull-left;
                @extend .text-muted;
                line-height: 26px;
                padding-right:16px;
              }
            }
            
              #adults-link{
                @extend .visible-xs;
              }

              #men-link, #women-link, #rendezvous-link{
                @extend .hidden-xs;
              }


        #cards{
          @extend .row;

          .card{
            @extend .col-sm-6;
            @extend .col-md-4;
            @extend .col-lg-3;
            @extend .col-xl-2;
            display: inline-flex;
            padding:  .25rem;
            
            @media (max-width: $screen-xs-max) {
              width:100%;
              .thumbnail{ width:inherit;}
            }
            
            .thumbnail{
              overflow:hidden;
              text-decoration:none;
    
              .thumbnail-img{
               height: auto;
               width: 100%;
              }
              
              .source-domain{
                text-align: left;
                font-weight:bold;
              }
              
              .captions p{
                text-align: justify;
              }
            }
          }
        }