#main-body{
  @extend .container-fluid;
}
    
    #evergreen-links{
      @extend .row;
      margin:20px 0 -20px 0;

      .evergreen-link{
        @extend .col-sm-4;

        .panel{
          text-align:center;
          height:100px;
        }
        
        .panel-body{
          padding:0px;
          line-height: 90px;
          height: 100px;
        }
      }
    }

        #new-to-cornerstone{ }
        #times-and-locations{ }
        #invest-in-cornerstone{ }
    
    #current-content-nav{
      @extend .nav;
      @extend .nav-tabs;
      margin: 0 -15px;
      padding: 0 15px;
      
      .active > a{
        background-color:$gray-lighter !important;
      }
    }
    
    #comming-up{
      @include gradient-vertical($gray-lighter, #FFF, 0%, 20%);
      margin: 0px -15px;
      padding: 0px 33px;
      @media (min-width: $screen-md-min) {
        padding:0px 47px;
      }
    }
        
        #community-feed{
          @extend .col-xs-12;
          font-size: $font-size-large;
          padding: 9px 3px;
        }

            #community-feed-links{
              @extend .nav;
              @extend .nav-pills;
              @extend .pull-right;
              h4{
                @extend .pull-left;
                @extend .text-muted;
                line-height: 26px;
                padding-right:16px;
              }
            }
            
              #adults-link{
                @extend .visible-xs;
              }

              #men-link, #women-link, #rendezvous-link{
                @extend .hidden-xs;
              }


