#main-body{
  @extend .container-fluid;
  padding-bottom:70px;
}

    #evergreen-links{
      @extend .row;
      margin:20px 0 -20px 0;

      .evergreen-link{
        @extend .col-sm-4;
        font-weight: 300;
        font-family: "museo-slab",sans-serif;
        font-size:16px;

        .panel{
          text-align:center;
          height:80px;
        }

        .panel-body{
          padding:0px;
          @extend %flexCenter;
          height: 80px;
        }

        @media (max-width: $screen-sm-min) {
          .panel, .panel-body{
            height:60px;
            margin-bottom:12px;
          }
        }
      }
    }

        #new-to-cornerstone-link{ }
        #times-and-locations-link{ }
        #invest-in-community-link{ }

    #evergreen-link-bodies .evergreen-body{
      @extend .row;
      @extend %transitionHeight;
      height:0px;
      margin: -21px -15px 20px;
      overflow:hidden;
      @include box-shadow(inset  0  8px 8px -8px #555, inset  0 -8px 8px -8px #999);

      &.active{
        height:400px;
      }

      .container{
        height:inherit;

        section{
          @extend %verticalCenter;
          padding-top:10px;

          iframe{
            max-width: 680px;
            max-height: 390px;
            margin-top: 5px;
          }
        }
      }
    }

    #new-to-cornerstone{
      @include coverImage('');
    }

    #times-and-locations{
      @include coverImage('placeholder_mission_map.png');

      #mission-times, #merced-times, #stream-times{
        @extend .col-sm-4;
        @extend %verticalCenter;
        text-align:center;
        h4, .times, .address a{
          font-weight:700;
        }
        h4{
          margin-bottom: 7px;
        }
      }
    }

    #invest-in-community{
      @include coverImage('');
    }

    #current-content-nav{
      @extend .nav;
      @extend .nav-tabs;
      margin: 0 -15px;
      padding: 0 15px;

      .active > a{
        background-color:$gray-lighter !important;
      }
    }

    #comming-up{
      @include gradient-vertical($gray-lighter, #FFF, 0%, 20%);
      margin: 0px -15px;
      padding: 10px 33px;
      @media (min-width: $screen-md-min) {
        padding:10px 47px;
      }
    }

        nav#community-feed{
          @extend .col-xs-12;
          font-size: $font-size-large;
          padding: 9px 3px;
          h4{
            font-weight:900;
          }

          #adults-link, #childrens-link{
            display:none;
          }

          // Shrink Font
          @media (max-width: 1050px) {
            font-size: $font-size-base;
            h4{
              font-size:16px;
            }
          }

          // Collapse Children
          @media (max-width: 935px) {
            #childrens-link{
              display:block;
            }
            #teens-link, #kids-link{
              display:none;
            }
          }

          // Collapse Adults
          @media (max-width: 820px) {
            #adults-link{
              display:block;
            }
            #men-link, #women-link, #rendezvous-link{
              display:none;
            }
          }

          // Duck!
          @media (min-width: 665px) {
            margin-top: -75px;
          }

          @media (max-width: 450px) {
            .ministry{
              padding:10px 8px;
            }
          }
        }

            #community-feed-links{
              @extend .nav;
              @extend .nav-pills;
              @extend .pull-right;
              h4{
                @extend .pull-left;
                @extend .text-muted;
                line-height: 26px;
                padding-right:16px;
              }
            }

              #adults-link{
                display:none;
//                @extend .visible-xs;
              }

              #men-link, #women-link, #rendezvous-link{
//                @extend .hidden-xs;
              }


#main-footer{
  @extend .row;
  @extend %flexCenter;
  @include transitionValue(all);
  position: fixed;
  bottom: 0px;
  background: black;
  color: white;
  overflow:hidden;
  height:0px;
  width:100%;
  margin:0;
  border-top:0px solid $gray;

  a{
    color:$gray-lighter;
  }

  .logo{
    height:100%;
    @include containImage('experiencegrowth_logo_reverse.svg');
  }

  .feedback{
    font-size:22px;
  }

  &.active{
    height:70px;
    border-width:3px;
    padding-top:10px;
    padding-bottom:10px;

    a{
      @extend .animated;
      @extend .fadeInUp;

      &.pos0{}
      &.pos1{
        @include delay(0.1s)
      }
      &.pos2{
        @include delay(0.2s)
      }
      &.pos3{
        @include delay(0.3s)
      }
    }
  }

  &:hover{
    height:80px;
    border-width:5px;
  }
}