#main-body{
  @extend .container-fluid;
}

    #evergreen-links{
      @extend .row;
      margin:20px 0 -20px 0;

      .evergreen-link{
        @extend .col-sm-4;
        font-weight: 300;
        font-family: "museo-slab",sans-serif;
        font-size:16px;

        .panel{
          text-align:center;
          height:100px;
        }

        .panel-body{
          padding:0px;
          @extend %flexCenter;
          height: 100px;
        }
      }
    }

        #new-to-cornerstone{ }
        #times-and-locations{ }
        #invest-in-cornerstone{ }

    #times-and-locations-body{
      @extend .row;
      @extend %transitionHeight;
      height:0px;
      margin: -21px -15px 20px;
      overflow:hidden;
      @include coverImage('placeholder_mission_map.png');
      @include box-shadow(inset  0  8px 8px -8px #555, inset  0 -8px 8px -8px #999);

      &.active{
        height:400px;
      }
    }

    #current-content-nav{
      @extend .nav;
      @extend .nav-tabs;
      margin: 0 -15px;
      padding: 0 15px;

      .active > a{
        background-color:$gray-lighter !important;
      }
    }

    #comming-up{
      @include gradient-vertical($gray-lighter, #FFF, 0%, 20%);
      margin: 0px -15px;
      padding: 0px 33px;
      @media (min-width: $screen-md-min) {
        padding:0px 47px;
      }
    }

        #community-feed{
          @extend .col-xs-12;
          font-size: $font-size-large;
          padding: 9px 3px;
        }

            #community-feed-links{
              @extend .nav;
              @extend .nav-pills;
              @extend .pull-right;
              h4{
                @extend .pull-left;
                @extend .text-muted;
                line-height: 26px;
                padding-right:16px;
              }
            }

              #adults-link{
                @extend .visible-xs;
              }

              #men-link, #women-link, #rendezvous-link{
                @extend .hidden-xs;
              }


