.header{
  .logo-img{
    height:100px;
    width:230px;
  }

  .submit{
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-default;
    border-width: 2px;
    border-left-width: 1px;
  }

  .examples{
    @extend %truncate;
    color:white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    text-align:left;
    font-weight:600;
    .thin{
      font-weight:300;
    }

    @media (max-width: $screen-md-min) {
      text-align:inherit;;
    }
  }

  .text, .search-hint{
    @extend .form-control;
    @extend .input-lg;
    // &:focus{
    //  border-color:inherit;
    //  -webkit-box-shadow:none;
    //  box-shadow:none;
    // }
  }

  .search-form{
    @extend %transitionMargin;

    .search-hint{
      position:absolute;
      z-index:0;
      border-radius: 6px !important;
      padding-right:68px; //account for button
      color:$gray-light;
    }
    .text{
      z-index:99;
      background-color:transparent;
    }
  }
}

.search-suggestions{
  position:relative;
  clear:both;
  margin:0 15px;
}

    .search-suggestions-dropdown{
      @extend .col-xs-12;
      @extend .dropdown-menu;
      @extend .dropdown-menu-right;
      display:block;

      &:after {
        position: absolute;
        top: -14px;
        right: 15px;
        display: inline-block;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;
        border-bottom: 15px solid #ffffff;
        content: '';
      }
    }

        .search-help{
          height:100%;
          @extend .row;
        }

            .search-help-content{
              @extend .col-md-offset-1;
              @extend .col-md-10;
              @extend %verticalCenter;
//              @extend .fadeIn;

              @media (max-width: $screen-md-min) {
                @include verticalAlign(15%);

                .search-help-text{
                  font-size:22px;
                  .icon{font-size:38px;}
                  .lead{font-size:18px;}
                }
              }

              @media (max-width: $screen-xs-min) {
                @include verticalAlign(5%);

                .search-help-text{
                  font-size:18px;
                  .icon{font-size:32px; }
                  .lead{font-size:16px;}
                }
              }

              .search-help-text{
                line-height:60px;
                height:50%;
                text-align:left;
                @extend %truncate;

                .icon{
                  @extend .glyphicon;
                  font-size:40px;
                  top:10px;
                }

                .lead{
                  white-space:normal;
                }
              }
            }

                #init-help{
                  .icon{
                    @extend .glyphicon-search;
                  }
                }

                #empty-help{
                  .icon{
                    @extend .glyphicon-exclamation-sign;
                  }
                }

        .search-results{

          .icon{
            @extend .glyphicon;
            padding-right:5px;

            &.all{          @extend .glyphicon-search;  }
            &.ministry{     @extend .glyphicon-user;  }
            &.music{        @extend .glyphicon-music;  }
            &.sermon{       @extend .glyphicon-play-circle;  }
//            &.drama{        @extend .glyphicon-film; }
            &.video{        @extend .glyphicon-film; }
            &.announcement{ @extend .glyphicon-bullhorn;  }
            &.event{        @extend .glyphicon-calendar;  }
            &.page{         @extend .glyphicon-list-alt;  }
//            &.resource{     @extend .glyphicon-education; }
            &.question{     @extend .glyphicon-comment;  }
          }
        }

            .suggestions-nav{
              @extend .col-sm-3;
              overflow:hidden;

              .caret{ @extend %transitionTransform; }

              @media (max-width: $screen-xs-max) {
                height:50px;

                &.expanded{
                  height:100%;

                  .caret{
                    @include rotate(-180deg);
                    //border-top-width: 0;
                    //border-bottom: 4px solid
                  }
                }
              }

              .suggestion-nav-sources{
                @extend .nav;
                @extend .nav-pills;
                @extend .nav-stacked;
                white-space:nowrap;

                a{
                  @extend %truncate;
                  padding-right:22px !important;
                }

                .caret{
                  @extend .visible-xs-inline-block;
                }

                .count{
                  position: absolute;
                  right: 0px;
                  padding: 0 15px 0 5px;
                  background-color: inherit;
                }
              }
            }

            .suggestions{
              @extend .col-sm-9;
              @extend %transitionHeight;
              height: 300px;
              overflow:auto;
              border-left:1px solid $gray-lighter;

              @media (max-width: $screen-xs-max) {
                border-left:none;
                border-top:1px solid $gray-lighter;
              }
            }

                .suggestion-list{
                  list-style-type:none;
                  padding:0;
                  margin:0;
                }

                    .suggestion{
                      @extend .text;
                      @extend %truncate;
//                      @extend %transitionHeight;
                      margin:5px 0;

                      &.active{
                        background-color:#cccccc;
//                        height:80px;
//                        line-height:80px;
                      }
                    }

@import 'header/headroom';
@import 'header/main';
