#main-footer
  %a.col-xs-2.pos0.logo
  .col-xs-9
    %a.col-xs-4.pos1{href:'#'} Visitor Information
    %a.col-xs-4.pos2{href:'#'} New to Cornerstone
    %a.col-xs-4.pos3{href:'#'} Invest in Community
  %a.col-xs-1.pos3.feedback{href:'#'}
    %i.glyphicon.glyphicon-comment
